{#
/**
 * @file download_item.html.twig
 * Default theme implementation to present Download item data.
 *
 * This template is used when viewing Download item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_download_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('download_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
